In [2]:
import pandas as pd

In [13]:
df1 = pd.read_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\award_1989_2011.csv")
df2 = pd.read_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\award_2012_2022.csv")

In [3]:
df = pd.read_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\firstteam.csv")

In [4]:
standing = pd.read_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\standing.csv")

In [5]:
player_name = df.Player.unique()

In [6]:
import pandas as pd
from nba_api.stats.static import players

# Get all NBA players
nba_players = players.get_players()

# List of desired player names
desired_players = player_name


# Filter the players and get their IDs
filtered_players = [
    {"id": player["id"], "name": player["full_name"]}
    for player in nba_players
    if player["full_name"] in desired_players
]

# Create a DataFrame with the filtered players' data
players_df = pd.DataFrame(filtered_players)

# Display the DataFrame
print(players_df)

          id                 name
0        949  Shareef Abdur-Rahim
1        149        Michael Adams
2     203500         Steven Adams
3    1628389          Bam Adebayo
4      76017          Danny Ainge
..       ...                  ...
318      788         Kevin Willis
319     1897    Metta World Peace
320     1460         James Worthy
321     2397             Yao Ming
322  1629027           Trae Young

[323 rows x 2 columns]

In [7]:
ids = players_df.id.unique()

In [8]:
df = pd.merge(df,players_df,left_on='Player',right_on='name',how='inner')

In [9]:
df.drop(columns='name',inplace=True)

In [10]:
df['season'] = df['year'].apply(lambda x: f"{x-1}-{str(x)[-2:]}")

In [11]:
df=df.sort_values(by = ['season', 'Share'], ascending = [True, False])

In [14]:
df.head()

,# Tm,Pos,Player,Age,Tm,Pts Won,Pts Max,Share,1st Tm,2nd Tm,...,BLK,FG%,3P%,FT%,WS,WS/48,year,id,season,SeasonID
0,1st,F,Karl Malone,25,UTA,425,425,1.000,85.0,0.0,...,0.9,0.519,0.313,0.766,15.2,0.233,1989,252,1988-89,21989
15,1st,G,Magic Johnson,29,LAL,423,425,0.995,84.0,NaN,...,0.3,0.509,0.314,0.911,16.1,0.267,1989,77142,1988-89,21989
19,1st,G,Michael Jordan,25,CHI,423,425,0.995,84.0,NaN,...,0.8,0.538,0.276,0.850,19.8,0.292,1989,893,1988-89,21989
30,1st,F,Charles Barkley,25,PHI,412,425,0.969,80.0,NaN,...,0.8,0.579,0.216,0.753,16.1,0.250,1989,787,1988-89,21989
41,1st,C,Hakeem Olajuwon,26,HOU,379,425,0.892,66.0,NaN,...,3.4,0.508,0.000,0.696,12.4,0.197,1989,165,1988-89,21989

In [13]:
df['SeasonID'] = df['year'].apply(lambda x: f"2{x}")

In [6]:
from nba_api.stats.endpoints import playercareerstats

# Nikola JokiÄ‡
career = playercareerstats.PlayerCareerStats(player_id='252') 

# pandas data frames (optional: pip install pandas)
df = career.get_data_frames()[0]

In [7]:
df.columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [18]:
dict_teams = {'Utah Jazz':'UTA','Phoenix Suns':'PHO',
                'Philadelphia 76ers':'PHI','Brooklyn Nets':'BRK',
                'Denver Nuggets':'DEN','Los Angeles Clippers':'LAC',
                'Milwaukee Bucks':'MIL','Dallas Mavericks':'DAL',
                'Los Angeles Lakers':'LAL','Portland Trail Blazers':'POR',
                'Atlanta Hawks':'ATL','New York Knicks':'NYK',
                'Miami Heat':'MIA','Golden State Warriors':'GSW',
                'Memphis Grizzlies':'MEM','Boston Celtics':'BOS',
                'Washington Wizards':'WAS','Indiana Pacers':'IND',
                'Charlotte Hornets':'CHO','Charlotte Bobcats':'CHA',
                'San Antonio Spurs':'SAS','Chicago Bulls':'CHI',
                'New Orleans Pelicans':'NOP','Sacramento Kings':'SAC',
                'Toronto Raptors':'TOR','Minnesota Timberwolves':'MIN',
                'Cleveland Cavaliers':'CLE','Oklahoma City Thunder':'OKC',
                'Orlando Magic':'ORL','Detroit Pistons':'DET',
                'Houston Rockets':'HOU','New Jersey Nets':'NJN',
                'New Orleans Hornets':'NOH','Seattle SuperSonics':'SEA','Vancouver Grizzlies':'VAN',
                'New Orleans/Oklahoma City Hornets':'NOK','Washington Bullets':'WSB','Charlotte Hornets':'CHH'}

In [19]:
teams = pd.DataFrame.from_dict(dict_teams, orient='index').reset_index()
teams = teams.rename(columns={'index':'Team',0:'Tm'})

In [20]:
df22 = df.merge(teams,on='Tm')

In [21]:
df22=df22.sort_values(by = ['season', 'Share'], ascending = [True, False])

In [15]:
std = standing[['SeasonID','full_name','WinPCT']]

In [16]:
std=std.rename(columns={'full_name':'Team'})

In [22]:
df22.SeasonID = df22.SeasonID.astype(int)

In [23]:
df3 = pd.merge(df22,std,on=['SeasonID','Team'])

In [24]:
df3.head()

,# Tm,Pos,Player,Age,Tm,Pts Won,Pts Max,Share,1st Tm,2nd Tm,...,3P%,FT%,WS,WS/48,year,id,season,SeasonID,Team,WinPCT
0,1st,F,Karl Malone,25,UTA,425,425,1.000,85.0,0.0,...,0.313,0.766,15.2,0.233,1989,252,1988-89,21989,Utah Jazz,0.671
1,2nd,G,John Stockton,26,UTA,224,425,0.527,1.0,NaN,...,0.242,0.863,15.6,0.236,1989,304,1988-89,21989,Utah Jazz,0.671
2,ORV,C,Mark Eaton,32,UTA,6,425,0.014,0.0,NaN,...,NaN,0.660,6.6,0.108,1989,76631,1988-89,21989,Utah Jazz,0.671
3,1st,G,Magic Johnson,29,LAL,423,425,0.995,84.0,NaN,...,0.314,0.911,16.1,0.267,1989,77142,1988-89,21989,Los Angeles Lakers,0.768
4,ORV,F,James Worthy,27,LAL,40,425,0.094,1.0,NaN,...,0.087,0.782,9.7,0.158,1989,1460,1988-89,21989,Los Angeles Lakers,0.768

In [25]:
df3.to_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\df3.csv",index=False)

In [26]:
advanced = pd.read_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\advanced.csv")

In [27]:
advanced.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'year'],
      dtype='object')

In [28]:
df3

,# Tm,Pos,Player,Age,Tm,Pts Won,Pts Max,Share,1st Tm,2nd Tm,...,3P%,FT%,WS,WS/48,year,id,season,SeasonID,Team,WinPCT
0,1st,F,Karl Malone,25,UTA,425,425,1.000,85.0,0.0,...,0.313,0.766,15.2,0.233,1989,252,1988-89,21989,Utah Jazz,0.671
1,2nd,G,John Stockton,26,UTA,224,425,0.527,1.0,NaN,...,0.242,0.863,15.6,0.236,1989,304,1988-89,21989,Utah Jazz,0.671
2,ORV,C,Mark Eaton,32,UTA,6,425,0.014,0.0,NaN,...,NaN,0.660,6.6,0.108,1989,76631,1988-89,21989,Utah Jazz,0.671
3,1st,G,Magic Johnson,29,LAL,423,425,0.995,84.0,NaN,...,0.314,0.911,16.1,0.267,1989,77142,1988-89,21989,Los Angeles Lakers,0.768
4,ORV,F,James Worthy,27,LAL,40,425,0.094,1.0,NaN,...,0.087,0.782,9.7,0.158,1989,1460,1988-89,21989,Los Angeles Lakers,0.768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,ORV,C,Rudy Gobert,29,UTA,45,500,0.090,0.0,5.0,...,0.000,0.690,11.7,0.264,2022,203497,2021-22,22022,Utah Jazz,0.486
1338,ORV,G,Donovan Mitchell,25,UTA,4,500,0.008,0.0,0.0,...,0.355,0.853,7.2,0.152,2022,1628378,2021-22,22022,Utah Jazz,0.486
1339,ORV,F,Jimmy Butler,32,MIA,32,500,0.064,0.0,2.0,...,0.233,0.870,9.2,0.228,2022,202710,2021-22,22022,Miami Heat,0.528
1340,ORV,C,Bam Adebayo,24,MIA,28,500,0.056,0.0,4.0,...,0.000,0.753,7.2,0.188,2022,1628389,2021-22,22022,Miami Heat,0.528
1341,ORV,G,Dejounte Murray,25,SAS,1,500,0.002,0.0,0.0,...,0.327,0.794,7.3,0.149,2022,1627749,2021-22,22022,San Antonio Spurs,0.257

In [30]:
df4 = pd.merge(df3,advanced,on=['Player','year'])

In [29]:
df3.shape

(1342, 29)

In [31]:
df4.shape

(1339, 57)

In [114]:
df4.to_csv(r"C:\Ziyuan Sui\MSBA\Winter23\Sports Analytics\Passion Project\df4.csv",index=False)